JoesWebApplication/JoesWebApplication/Connected Services/JoesServiceReference/JoesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldByUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldByToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldByTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldByTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldByUserSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldByUser" />
  </wsdl:message>
  <wsdl:message name="HelloWorldByUserSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldByUserResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldByTokenSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldByToken" />
  </wsdl:message>
  <wsdl:message name="HelloWorldByTokenSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldByTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="JoesWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldByUser">
      <wsdl:input message="tns:HelloWorldByUserSoapIn" />
      <wsdl:output message="tns:HelloWorldByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldByToken">
      <wsdl:input message="tns:HelloWorldByTokenSoapIn" />
      <wsdl:output message="tns:HelloWorldByTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JoesWebServiceSoap" type="tns:JoesWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldByUser">
      <soap:operation soapAction="http://tempuri.org/HelloWorldByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldByToken">
      <soap:operation soapAction="http://tempuri.org/HelloWorldByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JoesWebServiceSoap12" type="tns:JoesWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldByUser">
      <soap12:operation soapAction="http://tempuri.org/HelloWorldByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldByToken">
      <soap12:operation soapAction="http://tempuri.org/HelloWorldByToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JoesWebService">
    <wsdl:port name="JoesWebServiceSoap" binding="tns:JoesWebServiceSoap">
      <soap:address location="http://localhost:55011/JoesWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="JoesWebServiceSoap12" binding="tns:JoesWebServiceSoap12">
      <soap12:address location="http://localhost:55011/JoesWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>