GettingStarted/GettingStartedClient/Connected Services/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://microsoft.wcf.documentation" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://microsoft.wcf.documentation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://microsoft.wcf.documentation/Imports">
      <xsd:import schemaLocation="http://localhost:8000/GettingStarted/?xsd=xsd0" namespace="http://microsoft.wcf.documentation" />
      <xsd:import schemaLocation="http://localhost:8000/GettingStarted/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleServiceAsincrono_SampleMethodAsincrono_InputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethodAsincrono" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceAsincrono_SampleMethodAsincrono_OutputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethodAsincronoResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceAsincrono_SampleMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethod" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceAsincrono_SampleMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceAsincrono_ServiceAsyncMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAsyncMethod" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceAsincrono_ServiceAsyncMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceAsyncMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleServiceAsincrono">
    <wsdl:operation name="SampleMethodAsincrono">
      <wsdl:input wsaw:Action="http://microsoft.wcf.documentation/ISampleServiceAsincrono/SampleMethodAsincrono" message="tns:ISampleServiceAsincrono_SampleMethodAsincrono_InputMessage" />
      <wsdl:output wsaw:Action="http://microsoft.wcf.documentation/ISampleServiceAsincrono/SampleMethodAsincronoResponse" message="tns:ISampleServiceAsincrono_SampleMethodAsincrono_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SampleMethod">
      <wsdl:input wsaw:Action="http://microsoft.wcf.documentation/ISampleServiceAsincrono/SampleMethod" message="tns:ISampleServiceAsincrono_SampleMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://microsoft.wcf.documentation/ISampleServiceAsincrono/SampleMethodResponse" message="tns:ISampleServiceAsincrono_SampleMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceAsyncMethod">
      <wsdl:input wsaw:Action="http://microsoft.wcf.documentation/ISampleServiceAsincrono/ServiceAsyncMethod" message="tns:ISampleServiceAsincrono_ServiceAsyncMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://microsoft.wcf.documentation/ISampleServiceAsincrono/ServiceAsyncMethodResponse" message="tns:ISampleServiceAsincrono_ServiceAsyncMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>